section.first-main-content
  .container
    .first-main-content__form
      h2.first-main-content__form__head
        |Найдём номера под ваши пожелания
      form
        .arrival
          |прибытие
          br
          input(type="date" name="arrival")
        .departure
          |выезд
          br
          input(type="date" name="departure")
        |гости
        input(type="number")
        input(type="button" value="подобрать номер")
    p.first-main-content__text
      |Лучшие номера для вашей работы, отдыха и просто вдохновения