include ../utils/mixins.pug

footer.footer
  .container
    .footer-wrapper
      .footer__logo
        img(src='images/Logo.svg')
        p.footer__title Бронирование номеров в лучшем <br>
          |отеле 2019 года по версии <br>
          |ассоциации «Отельные взгляды»
      ul.footer-list
        li.footer-list__item навигация
        li.footer-list__item
          +btn('#', 'О нас', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Новости', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Служба поддержки', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Услуги', 'footer-list__btn')
      ul.footer-list
        li.footer-list__item О нас
        li.footer-list__item
          +btn('#', 'О сервисе', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Наша команда', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Вакансии', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Инвесторы', 'footer-list__btn')
      ul.footer-list
        li.footer-list__item служба поддержки
        li.footer-list__item
          +btn('#', 'Соглашения', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Сообщества', 'footer-list__btn')
        li.footer-list__item
          +btn('#', 'Связь с нами', 'footer-list__btn')
      form(name='form-footer')
        p.footer-list__item подписка
        p.footer-list__item Получайте специальные <br> предложения и новости сервиса
        input(type="text" name="email" placeholder="Email" required)
        button(type="submit")
          img(src='images/arrow_forward.png')
.footer-info
  .container
    .footer-info--wrapper
      p.footer-info__text Copyright © 2018 Toxin отель. Все права зачищены.
      .footer-info__link 
        a(href="#")
          img(src="images/twitter.png", alt="#")
        a(href="#")
          img(src="images/facebook.png", alt="#")
        a(href="#")  
          img(src="images/instagram.png", alt="#")
