include ../utils/mixins.pug

footer.footer
  .container
    .footer-wrapper
      .footer__logo
        img(src='images/Logo.svg')
        p.footer__title Бронирование номеров в лучшем <br>
          |отеле 2019 года по версии <br>
          |ассоциации «Отельные взгляды»