include ../utils/btn.pug

header.header
  .container
    .header-wrapper
      .header__logo
        img(src='dist/images/Logo.svg')
      .header__menu
        ul.header__nav
          li 
            +btn('#', 'О нас', 'list--item')
          li
            +btn('#', 'Услуги', 'list--item')
            span.drop
              img(src='dist/images/expand_more.png')
          li
            +btn('#', 'Вакансии', 'list--item')
          li
            +btn('#', 'Новости', 'list--item')
          li
            +btn('#', 'Соглашения', 'list--item')
            span.drop
              img(src='dist/images/expand_more.png')
        +btn('#', 'войти', 'btn__no-bg')
        +btn('#', 'зарегистрироваться', 'btn__bg header__menu__btn__bg')