extends ../layout/base 

block variables
  - var title = 'Toxin room filter'
  - var description = 'room filter'


block content
  include ../includes/header.pug

  include ../includes/room-filter.pug
  
  include ../includes/footer.pug