.first-main-content {
    height: 830px;
    background: url(../images/bg-first-main-content.jpg);
    background-position: 0 100%;

    & .first-main-content__text {
        width: 297px;
        height: 48px;
        @extend %Montserrat-Regular;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: $Dark75;
        float: right;
        margin-right: -6px;
        margin-top: 387px;
    }
}

.first-main-content__form {
    position: relative;
    top: 70px;
    width: 380px;
    height: 374px;
    background-color: #fff;
    padding: 30px;
    padding-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    & input[type='text'] {
        width: 150px;
        height: 44px;
        font-size: 14px;
        @extend %Montserrat-Regular;
        color: $Dark75;
        padding-left: 14px;
        text-transform: uppercase;
    }

    & input[type='number'] {
        width: 320px;
        height: 44px;
    }

    & form {
        width: 100%;
        height: 100%;
        @extend %Montserrat-SemiBold;
        font-size: 12px;
        line-height: 23px;
        text-transform: uppercase;
    }

    & label[name='arrival'] {
        position: relative;
        float: left;
        margin-bottom: 20px;
        @extend %Montserrat-SemiBold;
        font-size: 12px;
        line-height: 23px;
        text-transform: uppercase;
    }

    & label[name='departure'] {
        position: relative;
        float: right;
        margin-bottom: 20px;
        @extend %Montserrat-SemiBold;
        font-size: 12px;
        line-height: 23px;
        text-transform: uppercase;
    }
    
    // & input[type='date']::-webkit-inner-spin-button { 
    //     display: none;
    // }

    // & input[type='date']::-webkit-calendar-picker-indicator {
    //     display: none;
    // }

    & input[type='image'] {
        position: absolute;
        border: none;
        padding: 18px 16px;
        right: 0;
        top: 23px;
        background-color: rgba(0, 0, 0, 0);
    }

    & .first-main-content__form__btn__bg {
        width: 320px;
        height: 44px;
        display: block;
        font-size: 12px;
        font-weight: bold;
        line-height: 44px;
        margin-top: 31px;
        text-transform: uppercase;
        @extend %Montserrat-SemiBold;
    }

    & .btn__svg {
        position: relative;
        top: -32px;
        left: 277px;
        padding: 14px 13px;
    }
}

.first-main-content__form__head {
    @extend %OpenSans-Bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $Dark100;
    margin-bottom: 16px;
}
