.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
}

.header__nav {
    display: flex;
}

.list--item {
    @extend %Montserrat-Regular;
    color: $Dark50;
    margin-right: 30px;
    line-height: 35px;
}

.drop {
    margin-left: 6px;
}

.btn__no-bg {
    width: 87px;
    height: 34px;
    font-size: 12px;
    font-weight: bold;
    line-height: 33px;
    margin-right: 20px;
    text-transform: uppercase;
}

.btn__bg {
    width: 196px;
    height: 34px;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    text-transform: uppercase;
}