@import 'fonts';
@import 'reset';
@import "air-datepicker/src/sass/_datepicker-config";
@import "air-datepicker/src/sass/datepicker";
@import "air-datepicker/src/sass/timepicker";
@import "air-datepicker/src/sass/navigation";
@import "air-datepicker/src/sass/cell";
@import 'variable';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'first-main-content';

a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
.body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #E5E5E5;
}
.container {
    max-width: 1440px;
    height: 100%;
    padding-left: 140px;
    padding-right: 140px;
    margin: 0 auto;
    width: 100%;
}
input {
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}