@import 'fonts';
@import 'reset';
@import 'variable';
@import 'mixins';
@import 'header';
@import 'footer';

a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
.body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #E5E5E5;
}
.container {
    max-width: 1440px;
    height: 100%;
    padding-left: 140px;
    padding-right: 140px;
    margin: 0 auto;
    width: 100%;
}